<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
</head>
<body>
    <h1>{{ quiz.title }}</h1>
    {% if questions %}
        <ol>
            {% for question in questions %}
                <li style="margin-bottom: 24px;">
                    <p>{{ question.text }}</p>
                    {% if question.choice_set.count %}
                        {% for choice in question.choice_set.all %}
                            <input type="radio" name="choice-{{ question.id }}"
                                id="choice-{{ question.id }}-{{ choice.id }}" value="{{ choice.id }}"
                            >
                            <label for="choice-{{ question.id }}-{{ choice.id }}">{{ choice.text }}</label><br />
                        {% endfor %}
                    {% else %}
                        No choices for this question
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <p>No Questions</p>
    {% endif %}
</body>
</html>